<!DOCTYPE html>
<html>
<head>
	<title>Employee Registration</title>
</head>
<body>
		<form method="post">
			<fieldset>
				<legend>Add New Employee</legend>
				<table>
					<tr>
						<td>Name:</td>
						<td><input type="text" name="name"></td>
					</tr>
					<tr>
						<td>Address:</td>
						<td><input type="text" name="address"></td>
					</tr>
					<tr>
						<td>Phone:</td>
						<td><input type="text" name="phone"></td>
					</tr>
					<tr>
          				<td>Gender:</td>
          				<td>
            				<select name='gender'>
              				<option value="Male"> Male </option>
              				<option value="Female"> Female </option>
              				<option value="Other"> Other </option>
            				</select>
          				</td>
        			</tr>

        			<tr>
          				<td>Designation: </td>
          				<td>
            				<select name='des'>
              				<option value="Admin"> Admin </option>
             				<option value="Employee"> Employee </option>
            				</select>
          				</td>
        			</tr>

        			<tr>
          				<td colsapn='2' allign='center'> <input type='button' name='add' value='ADD'> </td>
        			</tr>
				</table>
			</fieldset>
		</form>
</body>
</html>