<!DOCTYPE html>
<html>
<head>
	<title>Employee Registration</title>
</head>
<body>
		<form method="post">
			<fieldset>
				<legend>Add New Employee</legend>
				<table>
					<tr>
						<td>Name:</td>
						<td><input type="text" name="name"></td>
					</tr>
					<tr>
						<td>Address:</td>
						<td><input type="text" name="address"></td>
					</tr>
					<tr>
						<td>DOB:</td>
						<td><input type="text" name="dob"></td>
					</tr>
					<tr>
						<td>Blood group:</td>
						<td><input type="text" name="bgrp"></td>
					</tr>
					<tr>
						<td>Qualifications:</td>
						<td><input type="text" name="qualif"></td>
					</tr>
					<tr>
						<td>Phone:</td>
						<td><input type="text" name="phone"></td>
					</tr>
					<tr>
						<td>Gender:</td>
						<td><input type="radio" id="male" name="gender" value="male">
							<label for="male">Male</label><br>
							<input type="radio" id="female" name="gender" value="female">
							<label for="female">Female</label><br>
							<input type="radio" id="other" name="gender" value="other">
							<label for="other">Other</label>
						</td>
					</tr>

					<tr>
						<td>Username</td>
						<td><input type="text" name="eUname"></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="ePassword"></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" name="submit" value="Submit"></td>
					</tr>
				</table>
			</fieldset>
		</form>
</body>
</html>